/* You can add global styles to this file, and also import other style files */

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 1em 3em;
}

button {
    padding: 0.5em;
    border-radius: 4px;

    &.primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
}